# IDE & Editors
.idea/
.vscode/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment (якщо використовуєш)
venv/
.venv/
env/

# PyTest Cache
.pytest_cache/

# OS Files
.DS_Store
Thumbs.db